/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 *= require jquery.minicolors
 *= require bootstrap.min.css
 */

body{
   background: #d2d8d0;
 }
.colorgrids {
	margin: 30px 0px 0px 30px;
}
.square {
  cursor: pointer;
  height: 30px;
  width: 30px;
  background-color: white;
}

.selected{
	-webkit-box-sizing: border-box;
    border: 3px solid;
	border-color: red;
}
.table{
	width: 38% !important;
}
.table>tbody>tr>td {

   padding: 2px !important;
}

.minicolors-theme-default .minicolors-input {
    width: 160px !important;
    height: 28px !important;
}



.btn{
  padding: 3px 12px !important;
}

.navbar {
    position: relative !important;
    min-height: 100px !important;
    margin-bottom: 20px !important;
    border: 3px solid transparent !important;
    border-bottom-color: black !important;
}

.navbar-brand {
    float: left !important;
    color: purple !important;
    height: 50px !important;
    padding: 32px 55px !important;
    font-size: 32px !important;
    line-height: 20px !important;
}
.navbar-brand2 {
    float: right; !important;
    height: 50px !important;
    padding: 32px 55px !important;
    font-size: 24px !important;
    line-height: 20px !important;
}

.square:hover {
    -ms-transform: scale(1.2); /* IE 9 */
    -webkit-transform: scale(1.2); /* Safari 3-8 */
    transform: scale(1.2); 
}